{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    <div id="map" style="height: 100vh; width: 100%; position: relative;"></div>
    <input type="button" id="modeButton" value="Change Mode" class="waves-effect teal btn" style="position: fixed; bottom: 10px; left: 10px; z-index: 1000;" onclick="changeMode()">
    <div id="pane" class="col s4" style="position: absolute; top: 10px; right: 10px; z-index: 1000; max-width: 25%; background: white; padding: 10px; border-radius: 5px; display: none;">
    </div>
{% endblock %}

{% block code %}
    <script type="text/javascript">
        var map = L.map('map').setView([10.642529, -61.400225], 13); // Sets the initial map position and zoom level
        var layerTest = L.layerGroup(); // Layer group for markers
        var overlayMaps = {  // Filter categories
            "Test" : layerTest 
        };
        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems
            }
        });
        var layerControl = L.control.layers(null, overlayMaps).addTo(map);
        var marker = L.marker([10.6464474, -61.4008066]).addTo(map);
        var mode = 'view';

        map.addControl(drawControl);
        marker.on('click', onMarkerClick);
        map.on('load', addObjects()); // Call the addMarkers() function when the map loads
        map.on('click', onMapClick);
        map.on(L.Draw.Event.CREATED, function(e){
            var layer = e.layer;
            console.log(layer)
            drawnItems.addLayer(layer);
            var geoJSON = layer.toGeoJSON()

            console.log(geoJSON)
            let data = {building: "test", data: geoJSON}
                fetch("/addDrawing", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }).then(res => {
                    console.log(`Added drawing with coords ${data} to database`);
                });
        });

        // Move zoom controls under the layer control toggle
        map.zoomControl.setPosition('topright');
        document.querySelector('.leaflet-control-zoom').style.marginTop = '50px';

        // GeoJSON example
        var paneTest = {
            "type": "FeatureCollection",
            "features": [
                {
                "type": "Feature",
                "properties": {
                    "name": "Test Pane",
                    "amenity": "Polygon",
                    "popupContent": "Test popup for polygon"
                },
                "geometry": {
                    "coordinates": [
                    [
                        [
                        -61.39998930812794,
                        10.638831871955404
                        ],
                        [
                        -61.39953237900065,
                        10.638589128766455
                        ],
                        [
                        -61.39937801105165,
                        10.638661951743003
                        ],
                        [
                        -61.399538553718685,
                        10.63901999779469
                        ],
                        [
                        -61.39998930812794,
                        10.638831871955404
                        ]
                    ]
                    ],
                    "type": "Polygon"
                }
                }
            ]
        };

        L.geoJSON(paneTest, {
            onEachFeature: onEachFeature
        }).addTo(map);

        function addObjects(){
            var markers = {{markers|safe}} //Grab markers from backend
            for(marker of markers){
                var marker = L.marker([marker[0], marker[1]]).addTo(map); // Adds each marker to the map
                layerTest.addLayer(marker); // Add each marker to the layerGroup
            }

            var buildings = {{buildings|safe}}
            for(building of buildings){
                var name = building[0];
                var drawingCoords = JSON.parse(building[1]);
                //drawnItems.addLayer(drawingCoords)
                
                drawingCoords.properties["name"] = name;
                console.log(drawingCoords);
                L.geoJSON(drawingCoords).addTo(map);
            }
        }

        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }
        
        function onMarkerClick(e){
            let pane = document.querySelector('#pane');
            if(pane.innerHTML.trim() == ''){
                let html = `
                    <div class="container col s1">
                        <button style="float: right; background: none; border: none; font-size: 1.5em; cursor: pointer;" onclick="closeContainer()">×</button>
                        <p style="margin-left: 1em;">Coordinates are ${e.latlng}</p>
                        <img src='https://media1.tenor.com/m/t6VAu8neEjkAAAAd/cat-vro.gif' width='150' height='150' style="margin-left:1em;">
                    </div>`;
                pane.innerHTML = html;
                pane.style.display = 'block';
            } else {
                closeContainer();
            }
        }

        function closeContainer(){
            let pane = document.querySelector('#pane');
            pane.innerHTML = '';
            pane.style.display = 'none';
        }

        function onMapClick(e){
            if(mode === 'edit'){
                marker = L.marker(e.latlng).addTo(map).on('click', onMarkerClick);
                alert("Added marker at " + e.latlng.toString());
                let data = {x: e.latlng.lat, y: e.latlng.lng};
                fetch("/addMarker", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                }).then(res => {
                    console.log(`Added ${e.latlng} to database`);
                });
            }
        }
        
        function changeMode(){
            if(mode === 'view'){
                mode = 'edit';
                alert('Mode changed to EDIT');
            } else {
                mode = 'view';
                alert('Mode changed to VIEW');
            }
        }
        
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 16,
            maxZoom: 50,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    </script>
{% endblock %}