{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    <div id="map" style="height: 100vh; width: 100%; position: fixed; top: 0; left: 0;"></div>
    <div id="pane" class="card col s4" style="position: fixed; top: 50%; left: -300px; transform: translateY(-50%); z-index: 1000; width: 300px; background: white; overflow:auto; transition: left 0.3s ease; height:100%">
    </div>
    

    
{% endblock %}

{% block code %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Pridi:wght@200;300;400;500;600;700&display=swap');

        .bungee-spice-regular {
            font-family: "Bungee Spice", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .pridi-semibold {
            font-family: "Pridi", serif;
            font-weight: 600;
            font-style: normal;
        }

        label {
            font-family: "Bungee Spice", sans-serif;
            font-weight: bold;
            font-size: 1.2em;
        }

        .btn-floating.transparent {
            box-shadow: none;
        }
    </style>
    <script type="text/javascript">
        var map = L.map('map').setView([10.642529, -61.400225], 13); // Sets the initial map position and zoom level
        var markerLayer = L.layerGroup();
        var overlayMaps = {  // Filter categories
            "Markers" : markerLayer
        };

        var drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            position: 'bottomright',
            draw: {
                circle: false,
                polyline: false
            },
            edit: {
                featureGroup: drawnItems,
                edit: false,
                remove: false
            }
        });

        L.control.locate({
            position: 'bottomright',
            strings: {
                title: "Pan to current location"
            },
            keepCurrentZoomLevel: true
        }).addTo(map);

        var layerControl = L.control.layers(null, overlayMaps, { position: 'bottomright' }).addTo(map);
        //var marker = L.marker([10.6464474, -61.4008066]).addTo(map);
        //marker.on('click', onMarkerClick);
        var mode = 'view';
        var currentMarker;
        var currentBuilding;
        var drawingLayer = L.geoJSON().addTo(map)

        map.doubleClickZoom.disable();
        map.addControl(drawControl);
        map.on('load', addObjects()); // Call the addMarkers() function when the map loads
        map.on('click', onMapClick);
        map.on(L.Draw.Event.CREATED, function(e){
            var layer = e.layer;
            var type = e.layerType;
            console.log(layer)
            drawnItems.addLayer(layer);

            //If the drawn item was a marker
            if(type === 'marker'){
                closeContainer();
                currentMarker = layer;
                let pane = document.querySelector('#pane');
                if (pane.innerHTML.trim() === '') {
                    //Form for adding markers
                    let html = `
    <div class="row" id="addMarkerForm">
        <div class="col s12">
        <button style="float: right; background: none; border: none; font-size: 1.5em; cursor: pointer;" onclick="cancelAdd()">×</button>
            <form action="/addMarker" method="POST" enctype="multipart/form-data" style='padding:2em;'>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="markerName" style="position:static;">Name</label>
                        <input placeholder="eg. FST 114" id="markerName" name="markerName" type="text" class="validate" required>
                    </div>
                    <div class="input-field col s12">
                        <label for="floorNum" style="position:static;">Floor #</label>
                        <input placeholder="eg. 0" id="floorNum" name="floorNum" type="number" min="0" step="1" class="validate" required>
                    </div>
                    <div class="input-field col s12">
                        <label for="buildingName" style="position:static;">Building</label>
                        <select name="buildingChoice" id="buildingChoice" style="display:static;" required>
                            
                    `;
                    //Populates the select with all the buildings
                    {% for building in buildings %}
                        {% if building.id == 1%}
                            html += `<option value="1" selected>N/A</option>`
                        {% else %}
                            html += `<option value="{{building.id}}">{{building.name}}</option>`
                        {% endif %}    
                    {% endfor %}

                    html += `
                    </select>
                    </div>
                    <div class="input-field col s12">
                        <label for="description" style="position:static;">Description (Optional)</label>
                        <textarea class="materialize-textarea" placeholder="eg. Located on right of south entrance" name="description" id="description" rows="4" cols="12"></textarea>
                    </div>

                    <div class="input-field col s12">
                            <label for="imageUpload" style="position:static">Upload Image (Optional)</label>
                    </div>
                    <div class="file-field input-field col s12">
                        <div class="btn-small blue">
                            <span><i class="material-icons">file_upload</i></span>
                            <input type="file" name="imageUpload" id="imageUpload" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    
                    <input type="hidden" name="x" id="x" value="${layer.getLatLng().lat}">
                    <input type="hidden" name="y" id="y" value="${layer.getLatLng().lng}">
                    <div class="input-field col s12">
                      <button class="waves-effect waves-light btn" type="submit">Add Marker</button>
                      <input class="waves-effect waves-light white btn black-text" type="button" value="Cancel" onclick="cancelAdd()">   
                    </div>
                </div>
            </form>
        </div>
    </div>`;
                pane.innerHTML = html;
                pane.style.left = '10px';

                //Materialize select fields need these 2 lines to of code to actually initialize the options for some reson
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
                }
            }

            //If it was a building i.e. a shape:
            if(type === 'polygon' || type === 'circle' || type === 'rectangle'){
                var geoJSON = layer.toGeoJSON();
                geoJSONString = JSON.stringify(geoJSON);
                console.log(geoJSONString) //Prepare the geoJSON representation of the shape to be sent to the backend
                if(mode === "redraw"){ //Check if this is a new building, or re-drawing a previous one.
                    if(currentBuilding != null){
                        let field = document.querySelector('#newDrawingCoords');
                        console.log("in if statement")
                        console.log(field);
                        field.value = geoJSONString;
                    }
                    return;
                }
                closeContainer();
                currentBuilding = layer;
                let pane = document.querySelector('#pane');
                let html = `
                <div class="row" id="addBuildingForm">
        <div class="col s12">
        <button style="float: right; background: none; border: none; font-size: 1.5em; cursor: pointer;" onclick="cancelAdd()">×</button>
            <form action="/addBuilding" method="POST" style='padding:2em;'>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="buildingName" style="position:static;">Building Name</label>
                        <input placeholder="egs. ENG Block 7, TCB #2" id="buildingName" name="buildingName" type="text" class="validate" required>
                    </div>
                    <div class="input-field col s12">
                        <label for="facultyName" style="position:static;">Faculty</label>
                        <select name="facultyChoice" id="facultyChoice" style="display:static;" required>
                            <option value="" disabled selected>Choose a faculty</option>
                    `;
                    //Populates the select with all the faculties
                    {% for faculty in faculties %}
                        html += `
                            <option value="{{faculty.id}}">{{faculty.abbr}} - {{faculty.name}}</option>
                        `
                    {% endfor %}

                    html += `
                    </select>
                    <input type="hidden" name="geoJSON" id="geoJSON" value='${geoJSONString}'>                    
                      <button class="waves-effect waves-light btn" type="submit">Add Building</button>
                      <input class="waves-effect waves-light white btn black-text right" type="button" value="Cancel" onclick="cancelAdd()">   
                </div>
            </form>
        </div>
    </div>`
                pane.innerHTML = html;
                pane.style.left = '10px';

                //Materialize select fields need these 2 lines to of code to actually initialize the options for some reson
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            }
        });

        // Move zoom controls under the layer control toggle, with some CSS styling done in <style>
        map.zoomControl.setPosition('bottomright');

        //Just closes the pane and removes the marker that was initially put down when adding a marker. May be modified to also remove cancelled buildings.
        function cancelAdd(){
            if(currentMarker != null){
                map.removeLayer(currentMarker);
            }
            if(currentBuilding != null){
                drawnItems.removeLayer(currentBuilding);
            }
            closeContainer();
        }

        //Alot goes on here. 
        function addObjects(){
            {% for marker in markers %}
                var newMarker = L.marker([{{marker.x}}, {{marker.y}}], {title: "{{marker.name}}"}).addTo(map); // Adds each marker to the map
                //The marker object attributes from the backend is basically just recreated here.
                newMarker.id = {{marker.id}}
                newMarker.name = "{{marker.name}}"
                newMarker.floor = {{marker.floor}}
                newMarker.description = "{{marker.description}}"
                newMarker.building = "{{marker.building.name}}"
                newMarker.image = "{{marker.image}}"
                newMarker.on('click', onMarkerClick);
                markerLayer.addLayer(newMarker).addTo(map); // Add each marker to the layerGroup
                newMarker.bindTooltip("{{marker.name}}", {permanent: true, offset: [-15, 40], direction: "center", className: 'transparent-tooltip'});
                var markerColorIcon;

                //Dynamically change the color of the marker icon depending on the faculty.
                switch("{{marker.building.faculty.abbr}}") {
                    case "FST":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png"
                        break;
                    case "FHE":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png"
                        break;
                    case "ENG":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png"
                        break;
                    case "FOL":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png"
                        break;
                    case "FFA":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png"
                        break;
                    case "FSS":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png"
                        break;
                    case "Admin/Guild":
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-violet.png"
                        break;
                    default:
                        markerColorIcon = "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png"
                        break;
                }

                var newIcon = L.icon({
                    iconUrl: markerColorIcon,
                    iconSize: [25, 41], 
                    iconAnchor: [12, 41],  
                    popupAnchor: [1, -34],
                    tooltipAnchor: [16, -28]
                  });
                newMarker.setIcon(newIcon);
            {% endfor %}

            //Recreating pseudo-building objects from the backend.
            {% for building in buildings %}
                var name = "{{building.name}}";
                var newDrawingCoords = JSON.parse({{building.drawingCoords|tojson}})

                newDrawingCoords.properties["id"] = {{building.id}}
                newDrawingCoords.properties["name"] = name;
                newDrawingCoords.properties["faculty"] = "{{building.faculty.abbr}}"
                newDrawingCoords.properties["facultylong"] = "{{building.faculty.name}}"
                drawingLayer.addData(newDrawingCoords)
            {% endfor %}
            
            //Dynamically color each building depending on the faculty
            drawingLayer.eachLayer(function(layer){
                layer.bindTooltip(layer.feature.properties.name, {permanent: true, offset: [0, 0], direction: "center", className: 'transparent-tooltip-building'});
                var facultyColor;
                var fillFacultyColor;
                switch(layer.feature.properties.faculty) {
                    case "FST":
                        facultyColor='gold'
                        fillfacultyColor='yellow'
                        break;
                    case "FHE":
                        facultyColor='royalblue'
                        fillfacultyColor='royalblue'
                        break;
                    case "ENG":
                        facultyColor='slategrey'
                        fillfacultyColor='slategrey'
                        break;
                    case "FOL":
                        facultyColor='black'
                        fillfacultyColor='black'
                        break;
                    case "FFA":
                        facultyColor='green'
                        fillfacultyColor='green'
                        break;
                    case "FSS":
                        facultyColor='red'
                        fillfacultyColor='red'
                        break;
                    case "Admin/Guild":
                        facultyColor='purple'
                        fillfacultyColor='purple'
                        break;
                    default:
                        facultyColor='grey'
                        fillfacultyColor='grey'
                        break;
                }

                layer.setStyle({
                    color: facultyColor,
                    fillColor: fillFacultyColor,
                    weight: 1,
                    fillOpacity: 0.2
                  });
                
                layer.on('dblclick', onBuildingClick); //Double clicking a building will bring up the info pane for it.
            });
        }

        //Brings up the building info pane on double click
        function onBuildingClick(e){
            building = e.target.feature.properties
            currentBuilding = e.target.feature.properties
            pane = document.querySelector('#pane');
            let html = `
    <div class="row">
        <div class="col s12">
            <button style="float: right; background: none; border: none; font-size: 1.5em; cursor: pointer;" onclick="closeContainer()">×</button>
            <form method="POST" action="/editBuilding/${building.id}">
            <div>
                <div name="buildingInfoForm" id="buildingInfoForm" class="card-content">
                    <span class="card-title"><h5>Building Information</h5></span>
                    <h6>Name</h6>
                    <p>${building.name}</p>
                    <h6>Faculty</h6>
                    <p>${building.facultylong}</p>
                </div>
                <div name="buildingInfoFormButtons" id="buildingInfoFormButtons" class="card-action" style="position:static;">
                    <input type="button" onclick="editBuildingView()" class="waves-effect waves-light orange btn" value="Edit">
                    <button type="button" onclick="deleteBuilding(${building.id})" class="waves-effect waves-light red btn">Delete</button>
                </div>
            </div>
            </form>
        </div>
    </div>
            `;
            pane.innerHTML = html;
            pane.style.left = '10px';
        }

        //Brings up the edit form for buildings
        function editBuildingView(){
            let infoPane = document.querySelector('#buildingInfoForm');
            if(infoPane != undefined){
                html = `
                    <div class="input-field col s12">
                        <label for="markerName" style="position:static;">Name</label>
                        <input value="${currentBuilding.name}" id="buildingName" name="buildingName" type="text" class="validate" required>
                    </div>
                    <div class="input-field col s12">
                        <label for="facultyChoice" style="position:static;">Faculty</label>
                        <select name="facultyChoice" id="facultyChoice" style="display:static;">
                            
                    `;
                    {% for faculty in faculties %}
                        if("{{faculty.abbr}}" != currentBuilding.faculty){
                            html += `
                               <option value="{{faculty.id}}">{{faculty.abbr}} - {{faculty.name}}</option>
                            `
                        } else {
                            html += `
                            <option value="{{faculty.id}}" selected disabled>{{faculty.abbr}} - {{faculty.name}}</option>
                            `
                        }
                    {% endfor %}
                    html += `
                        </select>
                    </div>
                    <button class="waves-effect waves-light blue btn" type="button" onclick="reDraw()">Re-draw</button>
                    <div id="reDrawTooltip" name="reDrawTooltip"></div>
                    <input type="hidden" id="newDrawingCoords" name="newDrawingCoords" value="">
                `;
                infoPane.innerHTML = html;
                //Have to initialize select options once again
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);

                //This code replaces the button with the real button to actually submit the form
                var buttons = document.querySelector('#buildingInfoFormButtons');
                if(buttons != undefined){
                    buttons.innerHTML = `
                      <button class="waves-effect waves-light orange btn" type="submit">Update Building</button>
                      <input class="waves-effect waves-light white btn black-text" type="button" value="Cancel" onclick="closeContainer()">    
                    `;
                }
            }
        }

        function reDraw(){
            //Whenever a new drawing is made, "mode" is checked. If it is "redraw", then creating a drawing updates the currently 
            //selected building's drawing coordinates instead of bringing up the Add New Building form.
            mode = "redraw";
            let tip = document.querySelector('#reDrawTooltip');
            tip.innerHTML = '<h6>Draw a new shape with the toolbar!</h6>'
        }

        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }
        
        function onMarkerClick(e){
            console.log(e.target.id);
            marker = e.target
            currentMarker = marker;
            let pane = document.querySelector('#pane');
            //Brings up the edit marker form. The form sends a POST request to editMarker, however you can't actually submit this form by default.
            //By default the form actually just displays the marker info.
            //There is an edit button at the bottom which, if clicked, replaces the contents of the form with editable fields, and a button which
            //actually submits the form. Very jank way of doing this.
            //The delete button is also here, but since a form can't send both a POST and a GET request to 2 differnet routes, the delete button just
            //calls a JS function thats sends a GET request to the deleteMarker route.
            let html = `
    <div class="row">
        <div class="col s12">
        <div class ="col s12" style="background-color: #d4edda;">
	        <p style="font-family: 'Pridi', cursive">Marker Information</p>
        </div>
            <form method="POST" action="/editMarker/${marker.id}" enctype="multipart/form-data">
            <div>`
            //Only add the image if one exists for the current marker
            if(marker.image != ''){
                html += `
                <div class="card-image">
                    <button class="btn-floating btn-small transparent" style="position: absolute; top: 10px; right: 10px; z-index: 1500;" onclick="closeContainer()">
                        <i class="material-icons">exit_to_app</i>
                    </button>
                    <img class="materialboxed" src="${marker.image}" height="200" style="object-fit:cover; object-position: 20% 10%;">
                </div>
                `

            } else {
                html += `<button class="btn-floating btn-small transparent" style="position: absolute; top: 10px; right: 10px; z-index: 1500;" onclick="closeContainer()">
                            <i class="material-icons">exit_to_app</i>
                         </button>`
            }
            html += `
                <div name="markerInfoForm" id="markerInfoForm" class="card-content">
                    <span class="card-title"></span>
                    <h6 style="font-family: 'Bungee Spice', cursive">Name</h6>
                    <p style="font-family: 'Pridi', cursive">${marker.name}</p>
                    <h6 style="font-family: 'Bungee Spice', cursive">Building</h6>
                    <p style="font-family: 'Pridi', cursive">${marker.building}</p>
                    <h6 style="font-family: 'Bungee Spice', cursive">Floor Number</h6>
                    <p style="font-family: 'Pridi', cursive">${marker.floor}</p>
                    <h6 style="font-family: 'Bungee Spice', cursive">Description</h6>`
                    if(marker.description != ''){
                        html += `<p style="font-family: 'Pridi', cursive">${marker.description}</p>`
                    } else {
                        html += `<p style="font-family: 'Pridi', cursive">No description provided</p>`
                    }
                    
                html += `</div>
                <div name="markerInfoFormButtons" id="markerInfoFormButtons" class="card-action" style="position:static;">
                    <input type="button" onclick="editMarkerView()" class="waves-effect waves-light orange btn" value="Edit" style="font-family: 'Pridi', cursive">
                    <button type="button" onclick="deleteMarker(${marker.id})" class="waves-effect waves-light red btn right" style="font-family: 'Pridi', cursive">Delete</button>
                </div>
            </div>
            </form>
        </div>
    </div>
            `;
            pane.innerHTML = html;
            pane.style.left = '10px';

            // Initialize Materialboxed for the image
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, {
                onOpenStart: function(el) {
                    var closeButton = el.closest('.card-image').querySelector('.btn-floating');
                    if (closeButton) {
                        closeButton.style.display = 'none';
                    }
                },
                onCloseEnd: function(el) {
                    var closeButton = el.closest('.card-image').querySelector('.btn-floating');
                    if (closeButton) {
                        closeButton.style.display = 'block';
                    }
                    // Ensure the pane remains scrollable
                    let pane = document.querySelector('#pane');
                    if (pane) {
                        pane.style.overflowY = 'auto';
                    }
                }
            });
        }
        
        //"Manually" sends a GET request to /deleteMarker
        function deleteMarker(id){
            fetch(`/deleteMarker/${id}`).then(res => {
                console.log(`Deleted marker from database`);
                window.location.reload()
            });
        }

        function deleteBuilding(id){
            fetch(`/deleteBuilding/${id}`).then(res => {
                console.log(`Deleted building from database`);
                window.location.reload()
            });
        }

        //If the edit button is clicked, then this function is what actually "makes" all the fields in the form editable and adds the real submit button
        function editMarkerView(){
            let infoPane = document.querySelector('#markerInfoForm');
            if(infoPane != undefined){
                html = `
                    <div class="input-field col s12">
                        <label for="markerName" style="position:static;">Name</label>
                        <input value="${currentMarker.name}" id="markerName" name="markerName" type="text" class="validate" required>
                    </div>
                    <div class="input-field col s12">
                        <label for="floorNum" style="position:static;">Floor #</label>
                        <input value="${currentMarker.floor}" id="floorNum" name="floorNum" type="number" min="0" step="1" class="validate" required>
                    </div>
                    <div class="input-field col s12">
                        <label for="buildingName" style="position:static;">Building Name</label>
                        <select name="buildingChoice" id="buildingChoice" style="display:static;">
                    `;
                    {% for building in buildings %}
                        if("{{building.name}}" != currentMarker.building){
                            html += `
                               <option value="{{building.id}}">{{building.name}}</option>
                            `
                        } else {
                            html += `
                               <option value="{{building.id}}" selected>{{building.name}}</option>
                            `
                        }
                    {% endfor %}
                    html += `
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <label for="description" style="position:static;">Description (Optional)</label>
                        <textarea class="materialize-textarea" name="description" id="description" rows="4" cols="12">${currentMarker.description}</textarea>
                    </div>
                    <div class="input-field col s12">
                        <label for="coords" style="position:static;">Current coordinates</label>
                        <div id="coords" name="coords">
                            <span style="white-space:nowrap">
                                <label for="x">X:  </label>
                                <input type="text" name="x" id="x" value="${currentMarker.getLatLng().lat}">
                            </span>
                            <span style="white-space:nowrap">
                                <label for="y">Y:  </label>
                                <input type="text" name="y" id="y" value="${currentMarker.getLatLng().lng}">
                            </span>
                            <sub style="color: grey;">(Drag marker to new location)</sub>
                        </div>
                    </div>
                        
                    <div class="input-field col s12">
                        <label for="imageUpload" style="position:static">Change Image</label>
                    </div>
                    <div class="file-field col s12">
                        <div class="btn-small blue">
                            <span><i class="material-icons">file_upload</i></span>
                            <input type="file" name="imageUpload" id="imageUpload" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" value="${currentMarker.image}">
                        </div>
                    </div> 
                `;
                infoPane.innerHTML = html;
                currentMarker.dragging.enable();
                currentMarker.on('dragend', function(){
                    console.log(currentMarker);
                    x = document.querySelector('#x');
                    y = document.querySelector('#y');
                    x.value = currentMarker.getLatLng().lat;
                    y.value = currentMarker.getLatLng().lng;
                })
                //Have to initialize select options once again
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);

                //This code replaces the button with the real button to actually submit the form
                var buttons = document.querySelector('#markerInfoFormButtons');
                if(buttons != undefined){
                    console.log('y');
                    buttons.innerHTML = `
                      <button class="waves-effect waves-light orange btn" type="submit">Update Marker</button>
                      <input class="waves-effect waves-light white btn black-text" type="button" value="Cancel" onclick="closeContainer(${currentMarker.getLatLng().lat}, ${currentMarker.getLatLng().lng})">    
                    `;
                } else {
                    console.log("n")
                }
            }
        }

        //This function sort of servers a double purpose right now. It closes the info pane, but in the case of cancelling a marker addition/edit, it also
        //removes that marker from the map. Should probably separate.
        function closeContainer(oldLat=null, oldLng=null){
            let pane = document.querySelector('#pane');
            pane.innerHTML = '';
            pane.style.left = '-300px';
            if(currentMarker != null){ //Disables dragging on the current marker if it was enabled before.
                currentMarker.dragging.disable();
                if(oldLat != null && oldLng != null){
                    currentMarker.setLatLng([oldLat, oldLng]);
                }
            }
        }

        //All functions moved to separate functions. This function remains empty for now.
        function onMapClick(e){
            //I used to be very long
            
        }

        //This function isn't called in the current state of the website, but may be used/expanded later.
        function recenterMap() {
            map.setView([10.646447, -61.400807], 13);
        }
        
        //Clean basemap no building names
        L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png', {
            minZoom: 16,
            maxZoom: 50,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="https://carto.com/">CARTO</a>',
            subdomains: 'abcd'
        }).addTo(map);

        //Original basemap with building names
        /*L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 16,
            maxZoom: 50,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);*/
        // Prevent scrolling
        document.body.style.overflow = 'hidden';
    </script>
{% endblock %}